<div class="ppal-header">
    <div class="boxes-header"> 
        <!-- <button type="button-logo" class="btn btn-info">My Books</button> -->
        <h1 style="color: antiquewhite;">MyBooks</h1>
    </div>
    <div>
                <button type="button-menu" class="btn btn-primary" routerLink="/home">Home</button>
                <button type="button-menu" class="btn btn-success" routerLink="/register">Register</button>
                <button type="button-menu" class="btn btn-success" routerLink="/books">Libros</button>

    </div>
</div>